_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# Latex
*.aux
*.log
*.toc
*.lof
*.lot
*.fls
*.out
*.dvi
*.bbl
*.blg
*.pyg
*.synctex.gz
*.run.xml
*.bcf
*.fdb_latexmk
*.fls
*.idx
*.ind
*.ilg
*.loa
*.nav
*.snm
*.vrb
*.soc
*.pdfsync
*.synctex(busy)
*.synctex.gz(busy)
__latex_temp_files/
*.alg
*.acr
*.acn
*.glg
*.glo
*.gls
*.ist
*.xdy
.vscode/
.idea/

# Portfolio (SvelteKit)
portfolio-src/node_modules/
portfolio-src/.svelte-kit/