#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  overflow-y: scroll;
  height: 100vh;
  scrollbar-color: var(--color-border) var(--color-background);
  scrollbar-width: thin;
}
#main::before {
  content: "";
}
#main::-webkit-scrollbar {
  width: 10px;
}
#main::-webkit-scrollbar-track {
  background: var(--color-background);
}
#main::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 3px;
  border: 3px solid var(--color-background);
}
#main::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-border-hover);
}
.section {
  width: clamp(var(--min-width-mobile), 90%, 700px);
}
.section-heading {
  margin-top: 4px;
  margin-bottom: 14px;
}
