:root {
  --delay-1: var(--global-delay, 0.5s);
  --delay-2: var(--global-delay, 1s);
  --delay-2-1: var(--global-delay, 0.3s);
  --delay-2-2: var(--global-delay, 0.4s);
  --delay-2-3: var(--global-delay, 0.9s);
  --delay-3: var(--global-delay, 1.5s);
}
.scale-y {
  transition: transform 0.3s ease-in-out;
  transform-origin: 0 0;
  transform: scaleY(0);
}
.scale-y.animate {
  transform: scaleY(1);
}
.slide-left {
  opacity: 0;
  transform: translateX(-15px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.slide-left.animate {
  opacity: 1;
  transform: translateX(0);
}
.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.fade-in.animate {
  opacity: 1;
}
.delay-1 {
  transition-delay: var(--delay-1);
}
.delay-2 {
  transition-delay: var(--delay-2);
}
.delay-2-1 {
  transition-delay: calc(var(--delay-2) + var(--delay-2-1));
}
.delay-2-2 {
  transition-delay: calc(var(--delay-2) + var(--delay-2-2));
}
.delay-2-3 {
  transition-delay: calc(var(--delay-2) + var(--delay-2-3));
}
