body {
    margin-left: 0em;
    font-size: 85%;
}
#content {
    margin-left: 3px;
    margin-right: 3px;
}

#profile_pic {
    text-align: center;
    width: 90%;
    margin: auto;
    position: relative;
}
#profile_pic img {
    width: 17em;
}

h1 {
    position: relative;
    text-align: center;
    margin: auto;
    left: 0%;
    width: 90%;
    padding-left: 8px;
    padding-right: 8px;
}
h1+p{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 5px;
    left: 0%;
    width: 90%;
}

h2{
   padding-left: 10%;
   width: 80%;
   text-align: left;
   position: static;
   margin-bottom: 0.3em;
}
h2+p{
    padding-left: 10%;
    width: 80%;    
    text-align: left;
    position: static;
}

p{
    padding-left: 10%;
    width: 80%;
    text-align: left;
    position: static;
    margin-bottom: 0.3em;
}

p code {
    display: block;
    position: static;
    text-align: left;
}

#my_skills{
    width: 80%;
    position: static;
    padding-left: 10%;
    font-size: 80%;
}
#my_skills img{
    height: 1.5em;
    top: 0.2em;
}
#my_skills .tech-skill {
    margin-right: 10px;
}

ul {
    position: static;
    width: 80%;
    margin-bottom: 1.5em;
    margin-top: -0.5em;
    padding-left: 10%;
    padding-right: 0%;
}

.webaddress {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0%;
}
