/* Profile picture */
#profile_pic {
    font-size: 1em;
    line-height: 2em;
    position: absolute;
    top: 0.5em;
    text-align: right;
    width: 20%;
}

#profile_pic img {
    width: 5.5em;
}

/* Education */
.education-logo {
    height: 20px;
    width: auto;
    position: absolute;
    margin-left: 10px;
}


/* Skillz */
#my_skills {
    width: 75%;
    left: 25%;
    position: relative;
    font-size: 80%;
}
.my_skills_row {
    margin-bottom: 5px;
}
.tech-skill {
    margin-right: 20px;
    white-space: nowrap;
}
.tech-skill img {
    height: 18px;
    margin-left: 5px;
    position: relative;
    top: 4px;
}

/* svg imgs. links to github etc */
.profile_links img {
    width: 12px;
    margin-left: 4px;
    position: relative;
    top: 3px;
}

.profile_links#blog_link img {
    width: 10px;
    top: 2px;
}

.profile_links#github_link img {
    top: 2px;
}

.profile_links#email_link img {
    top: 1px;
}

.profile_links#linkedin_link img {
    top: 1px;
    width: 10px;
}

.profile_links#euler_link img {
    width: 11px;
}

/* Languages */
#languages-screen {
    display: none;
}

/* Interest */
#interests-screen {
    display: none;
}