div.svelte-clyidt{position:relative;width:100%;height:100%}canvas.svelte-clyidt{display:block;position:relative;width:100%;height:100%}.canvas-container.svelte-1uha8ag{width:100%;height:100vh;position:fixed;top:0;left:0}
