body {
    margin-left: 0em;
}

#profile_pic {
    text-align: center;
    width: 90%;
    margin: auto;
    position: relative;
}
#profile_pic img {
    width: 17em;
}

h1 {
    position: relative;
    text-align: center;
    margin: auto;
    left: 0%;
    width: 90%;
}
h1+p{
    text-align: center;
    margin: auto;
    left: 0%;
    width: 90%;
}

.webaddress {
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    left: 0%;
}
