#profile_pic {
    font-size: 1em;
    line-height: 2em;
    position: absolute;
    top: 0.5em;
    text-align: right;
    width: 20%;
}

#profile_pic img {
    width: 7.5em;
}

.education-logo {
    height: 20px;
    width: auto;
    position: absolute;
    margin-left: 10px;
}


/* tech skillz */
#my_skills {
    width: 70%;
    left: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start
}

.my_skills_row {
    display: flex;
    justify-content: flex-start; /* Distribute the boxes evenly */
    align-items: center; /* Vertically align boxes */
    flex-wrap: wrap; /* Allow the boxes to wrap as necessary */
    margin-bottom: 20px; /* Increase space between rows */
}

.tech-skill {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #333; /* Add border */
    padding: 6px 10px; /* Add some padding */
    margin: 5px 10px 5px 0px;
    white-space: nowrap;
    background-color: #f3f3f3; /* Add a background color */
    border-radius: 5px; /* Add rounded corners */
}

.tech-skill img {   
    height: 20px;
    margin-left: 10px; /* Increase space between the text and the image */
}


/* svg imgs. links to github etc */
.profile_links img {
    width: 20px;
    margin-left: 5px;
    position: relative;
    top: 4px;
}

.profile_links#blog_link img {
    width: 15px;
    top: 2px;
}

.profile_links#github_link img {
    top: 3px;
}

.profile_links#email_link img {
    top: 1px;
}

.profile_links#linkedin_link img {
    top: 3px;
    width: 18px;
}

.profile_links#euler_link img {
    width: 19px;
}

/* Languages */
#languages-print {
    display: none;
}

/* Interest */
#interests-print {
    display: none;
}