#profile_pic {
    font-size: 1em;
    line-height: 2em;
    position: absolute;
    top: 0.5em;
    text-align: right;
    width: 20%;
}

#profile_pic img {
    width: 5.5em;
}

.education-logo {
    height: 25px;
    width: auto;
    position: absolute;
    margin-left: 11px;
}

.tech-skill {
    display: inline;
    position: relative;
    left: 25%;
    margin-bottom: 0.3em;
    margin-right: 0;
    width: 55%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 80%;
}

.tech-skill img {
    width: 20px;
    margin-left: 4px;
}