#profile_pic {
    font-size: 1em;
    line-height: 2em;
    position: absolute;
    top: 0.5em;
    text-align: right;
    width: 20%;
}

#profile_pic img {
    width: 7.5em;
}

.education-logo {
    height: 25px;
    width: auto;
    position: absolute;
    margin-left: 11px;
}


.tech-skill-list {
    font-size: 80%;
    line-height: 2.0em;
    width: 75%;
    left: 25%;
    position: relative;
}
.tech-skill {
    display: inline;
    margin-bottom: 0.3em;
    margin-right: 0;
    padding-left: 0px;
    padding-right: 25px;
}

.tech-skill img {
    width: 20px;
    margin-left: 5px;
}